
<div class="userinfor">
	<div class="userinfor-header">
	    <span id="backuser" ng-click="goStateName('user')"><img src="./images/icons/login-arrow.png" alt=""></span>
		<span>个人资料</span>
	</div>
	
	<div class="userinfor-main">
		<div>
			<span>头像</span>
			<span><img src="./images/icons/arrow.png" alt=""></span>
			<span><img src="./images/userphoto.png" alt=""></span>
		</div>
		<div>
			<span>用户名</span>
			<span>Smile 阳光小子</span>
			<span><img src="./images/icons/arrow.png" alt=""></span>
		</div>
		<div>
			<span>手机</span>
			<span>13516458901</span>
			<span>解绑</span>
		</div>
		<div>
			<span>性别</span>
			<span>女</span>
			<span><img src="./images/icons/arrow.png" alt=""></span>
		</div>
		<div>
			<span>生日</span>
			<span>10月11日</span>
			<span><img src="./images/icons/arrow.png" alt=""></span>
		</div>
		<div>
			<span>所在地区</span>
			<span>广州</span>
			<span><img src="./images/icons/arrow.png" alt=""></span>
		</div>
		<div>
			<span>交友宣言</span>
			<span>你若安好 便是晴天</span>
			<span><img src="./images/icons/arrow.png" alt=""></span>
		</div>
	</div>

	<div class="footer">
		<ul>
			<li id="home">
				<div>
					<img src="./images/icons/home.png" alt="">
				</div>
				<h6>首页</h6>
			</li>
			<li id="eat">
				<div>
					<img src="./images/icons/eat.png" alt="">
				</div>
				<h6>吃货圈</h6>
			</li>
			<li id="insvideo">
				<div>
					<img src="./images/icons/video.png" alt="">
				</div>
				<h6>趣视频</h6>
			</li>
			<li id="user">
				<div>
					<img src="./images/icons/useractive.png" alt="">
				</div>
				<h6>我</h6>
			</li>
		</ul>
	</div>
</div>
