body{
	padding: 0;
	margin: 0 auto;
	font-family: 'Microsoft YaHei';
}
html,body,.box{
	width:100%;
	height:100%;
	font-size:14px;
}

p,ol,ul,li,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	list-style: none;
}

a,a:hover{
	outline: none;
	text-decoration: none;
}

input{
	outline: none;
	padding: 0;
}

img{
	outline: none;
	display: block;
}

i,span{
	display: inline-block;
}