
<div class="cookdetail">
	<div class="cookdetail-header">
	    <span id="backindex" ng-click="goStateName('index')"><img src="./images/icons/login-arrow.png" alt=""></span>
		<span>菜谱内容</span>
	</div>
	<div class="cookdetail-main">
		<div class="cooktype">
			<div class="cooktype-list">
				<h4><span>菜式</span></h4>
				<ul>
					<li><span class="active">小吃</span></li>
					<li><span>泡菜</span></li>
					<li><span>川菜</span></li>
					<li><span>凉拌</span></li>
					<li><span>家常便菜</span></li>
					<li><span>其他</span></li>
				</ul>
			</div>	
			<div class="cooktype-detail">
				<ul>
					<li>
						<span class="detailleft"><img src="./images/cookdetail1.png" alt=""></span>
						<span class="detailright">
							<h5>烟台焖子</h5>
							<p> 相传一百多年前，有门氏两兄弟来烟台晒粉条，有一次刚将粉胚作好,遇上了连阴天，粉条晒不成，面胚要酸坏，情急之下，门氏兄弟将乡亲们请来用油煎粉胚，加蒜拌着吃，吃后异口同声说好吃，有风味。于是便帮门氏兄弟支锅立灶煎粉胚卖，人们都说好吃，但问此食品叫什么名，谁也说不出。其中一智者认为此品是门氏兄弟所创，又用油煎焖，就脱口而出叫“焖子”。</p>
						</span>
						<span><img src="./images/icons/collection-gray.png" alt=""><span>收藏</span></span>
						<span><img src="./images/icons/discuss.png" alt=""><span>写评论</span></span>
					</li>
					<li>
						<span class="detailleft"><img src="./images/cookdetail2.png" alt=""></span>
						<span class="detailright">
							<h5>狮子糕</h5>
							<p>原名“寿王糕”，出自1876年（光绪二年）秋，杭州西湖“寿春坊”斯仁谷之手。“寿王糕”因色之金黄，香甜酥脆，入口化渣，回味清香，多为达贤仕人待客佳肴。西湖县令姚其杭必备为待客茶点，其千金姚胜兰每日必方解口馋，百姓大多待仕人用之方能食用。</p>
						</span>
						<span><img src="./images/icons/collection-red.png" alt=""><span>收藏</span></span>
						<span><img src="./images/icons/discuss.png" alt=""><span>写评论</span></span>
					</li>
					<li>
						<span class="detailleft"><img src="./images/cookdetail3.png" alt=""></span>
						<span class="detailright">
							<h5>盘丝饼</h5>
							<p>盘丝饼是在抻面的基础上发展起来的一种精细面食品，是山东的传统面食品种。清末薛宝辰的《素食说略》中，对用福山拉面制作的盘丝饼有详细说明。</p>
						</span>
						<span><img src="./images/icons/collection-red.png" alt=""><span>收藏</span></span>
						<span><img src="./images/icons/discuss.png" alt=""><span>写评论</span></span>
					</li>
				</ul>
			</div>

		</div>
	</div>
</div>