
<div class="interestvideo">
	<div class="interestvideo-header">
	    <span><img src="./images/icons/login-arrow.png" alt=""></span>
		<span>趣视频</span>
		<span id="gosearchcircle" ng-click="goStateName('searchcircle')">帖子</span>
	</div>
	<div class="interestvideo-main">

		<div class="videoban">
			<img src="./images/insvideoban.png" alt="">
			<span class="videotitle">3D打印机打印食物</span>
		</div>
		<div class="lovevideo">
			<h6>猜你喜欢的</h6>
			<ul>
				<li>
					<div><img src="./images/video1.png" alt=""></div>
					<p>西餐培训</p>
				</li>
				<li>
					<div><img src="./images/video2.png" alt=""></div>
					<p>披萨的做法</p>
				</li>
				<li>
					<div><img src="./images/video3.png" alt=""></div>
					<p>翡翠七彩饺子</p>
				</li>
				<li>
					<div><img src="./images/video4.png" alt=""></div>
					<p>皮蛋的家常做法</p>
				</li>
				<li>
					<div><img src="./images/video5.png" alt=""></div>
					<p>盐水虾的做法</p>
				</li>
				<li>
					<div><img src="./images/video6.png" alt=""></div>
					<p>蛋包饭的做法</p>
				</li>
				<li>
					<div><img src="./images/video7.png" alt=""></div>
					<p>汉堡的做法</p>
				</li>
				<li>
					<div><img src="./images/video8.png" alt=""></div>
					<p>甜品的做法</p>
				</li>
				<li>
					<div><img src="./images/video9.png" alt=""></div>
					<p>芹菜的做法</p>
				</li>
			</ul>
		</div>

	</div>

	<div class="footer">
		<ul>
			<li id="home" ng-click="goStateName('index')">
				<div>
					<img src="./images/icons/home.png" alt="">
				</div>
				<h6>首页</h6>
			</li>
			<li id="eat" ng-click="goStateName('cookcircle')">
				<div>
					<img src="./images/icons/eat.png" alt="">
				</div>
				<h6>吃货圈</h6>
			</li>
			<li id="insvideo">
				<div>
					<img src="./images/icons/videoactive.png" alt="">
				</div>
				<h6>趣视频</h6>
			</li>
			<li id="user" ng-click="goStateName('user')">
				<div>
					<img src="./images/icons/user.png" alt="">
				</div>
				<h6>我</h6>
			</li>
		</ul>
	</div>
</div>
