
<div class="searchcircle">
	
	<div class="searchcircle-header">
		<div class="searchcircle-header-main">
			<span id="backcookcircle" ng-click="goStateName('cookcircle')"><img src="./images/icons/login-arrow.png" alt=""></span>
			<span>
				<span>搜索圈子</span>
			</span>
			<span id="gocreatpost" ng-click="goStateName('creatpost')">发布</span>
		</div>
	</div>
	
	<div class="searchcircle-main">
		<div class="searchcircle-main-ban">
			<img src="./images/searchcircleban.png" alt="">
		</div>
		<div class="searchcircle-main-discuss">
			<ul>
				<li><img src="./images/photo1.png" alt=""></li>
				<li><img src="./images/photo2.png" alt=""></li>
				<li><img src="./images/photo3.png" alt=""></li>
				<li><img src="./images/photo4.png" alt=""></li>
				<li><img src="./images/photo5.png" alt=""></li>
			</ul>
			<div class="searchcircle-main-content">
				<div class="content-top">
					<span><img src="./images/photo1.png" alt=""></span>
					<span>
						<p>晓梅</p>
						<p>23:26</p>
						<p>自己做的，挺有卖相，哈哈！</p>
					</span>
				</div>
				<div class="content-ban">
					<div class="banimg">
						<img src="./images/searchfood.png" alt="">
					</div>
					<div class="bannu">
						<span class="dianzan">
							<img src="./images/icons/dianzan.png" alt="">
							赞&nbsp;2345
						</span>
						<span class="comment">
							<img src="./images/icons/comment.png" alt="">
							写评论
						</span>
					</div>
				</div>
				<div class="content-bottom">
					<p>李梅：哈哈，今天太阳好，嘻嘻！</p>
					<p>晓梅：卖相不错吧，呵呵。</p>
					<p>月凤：好相吃</p>
					<p>晓梅：下次来我家，我做给你吃，哈哈，试试我的厨艺。</p>
					<p>月凤：好，下一次有时间到你家，尝尝你的厨艺。</p>
					<p>晓梅：好，等着你的到来！哈哈！</p>
				</div>
			</div>
		</div>
	</div>
</div>
