
<div class="creatpost">
	<div class="creatpost-header">
	    <span id="backsearchcircle" ng-click="goStateName('searchcircle')"><img src="./images/icons/login-arrow.png" alt=""></span>
		<span>帖子详情</span>
	</div>
	<div class="creatpost-main">
		<p>欢迎进入帖子讨论组</p>
		<div class="userinfor">
			<span>
				<img src="./images/userphoto.png" alt="">
			</span>
			<span>
				<p>Smlie 阳光小子</p>
				<p>10:47</p>
			</span>
		</div>
		<textarea class="textarea" placeholder="在这里，写下自己的帖子"></textarea>
		<div class="button">上存图片</div>
		<div class="button">提交帖子</div>
	</div>
</div>
