
<div class="login">
	<div class="login-header">
		<img id="backhome" ng-click="goStateName('index')" src="./images/icons/login-arrow.png" alt="">
		<span>语言</span>
	</div>

	<div class="login-main">
		<div class="login-headph">
			<img src="./images/login-headph.png" alt="">
		</div>

		<div class="login-form">
			<p>用户名<span id="namedenger"></span></p>
			<div class="user"><span><img src="./images/icons/login-user.png" alt=""></span><input type="text" id="name" ng-Keyup="nameVer()"></div>
			<p>密码<span id="psddenger"></span></p>
			<div class="psd"><span><img src="./images/icons/login-psd.png" alt=""></span><input type="password" id="psd" ng-Keyup="psdVer()"></div>
			<p class="login-p"><span ng-click="goStateName('register')">立即注册</span><span>忘记密码?</span></p>
			<div class="btn">登录</div>
		</div>

		<div class="login-link">
			<div class="link-line">
				<span>第三方登录</span>
				<ul>
					<li><img src="./images/login-alipay.png" alt=""></li>
					<li><img src="./images/login-weixin.png" alt=""></li>
					<li><img src="./images/login-weibo.png" alt=""></li>
				</ul>
				<h6>登录则表示你同意该软件的服务协议及隐私政策</h6>
			</div>
		</div>
	</div>	
</div>
