
<div class="cookcircle">
	<div class="cookcircle-header">
	    <span><img src="./images/icons/login-arrow.png" alt=""></span>
		<span>美食圈</span>
		<span id="gosearchcircle" ng-click="goStateName('searchcircle')">帖子</span>
	</div>
	<div class="nav">
		<ul>
			<li class="active"><span>玖号厨房</span></li>
			<li><span>学烘培</span></li>
			<li><span>写实派</span></li>
		</ul>
	</div>
	<div class="cookcircle-main swiper-container">
		
		<div class="contentban swiper-wrapper">
			<div class="kitchen swiper-slide">
				<ul>
					<li>
						<span><img src="./images/index-mune1.png" alt=""></span>
						<span>
							<p>白切鸡，油而不腻，肉质鲜嫩</p>
							<p><span>玖号厨房</span><span>15432浏览</span></p>
						</span>
					</li>
					<li>
						<span><img src="./images/index-mune3.png" alt=""></span>
						<span>
							<p>潮汕牛肉丸是广东有名的汉族小吃，来源于客家菜</p>
							<p><span>玖号厨房</span><span>14360浏览</span></p>
						</span>
					</li>
					<li>
						<span><img src="./images/products01.png" alt=""></span>
						<span>
							<p>可乐鸡翅，味道鲜美温中、降逆止呕、化痰止咳</p>
							<p><span>玖号厨房</span><span>14360浏览</span></p>
						</span>
					</li>
					<li>
						<span><img src="./images/products02.png" alt=""></span>
						<span>
							<p>糖醋排骨肉质鲜嫩补肾、益气、润燥</p>
							<p><span>玖号厨房</span><span>14360浏览</span></p>
						</span>
					</li>
					<li>
						<span><img src="./images/index-mune7.png" alt=""></span>
						<span>
							<p>剁椒炒肉口感滑嫩、韧性足、口味纯</p>
							<p><span>玖号厨房</span><span>14360浏览</span></p>
						</span>
					</li>
				</ul>
			</div>
			<div class="baking swiper-slide">
				<div class="bakingban">
					<!-- <img src="./images/bakingban.png" alt=""> -->
					<video src="" controls="controls">
						您的浏览器不支持video标签
					</video>
				</div>
				<div class="bakingcontent">
					<h4>详细步骤</h4>
					<ol>
						<li>1.蛋白质分三次加入白砂糖，大至干性发泡，即出现挺立的尖角。</li>
						<li>2.蛋黄中浇入白糖搅拌均匀。</li>
						<li>3.蛋黄加入色拉油、牛奶搅拌均匀。</li>
						<li>4.将蛋白分次加入到蛋黄中，自上而下搅拌均匀。</li>
						<li>5.加入低筋面粉，搅拌均匀。</li>
						<li>6.分次将打好的蛋白搅拌入蛋黄液中。</li>
						<li>7.倒入8寸蛋糕模，烤箱预热150度，烤50分钟即可。</li>
						<li>8.抹上奶油，用刀抹平。用菊花嘴挤上花朵后，把切好的水果按一定的规律摆好。</li>
					</ol>
					<p><span>制作时间：30-60min</span><span>12356浏览</span></p>
					<ul>
						<li>分享到</li>
						<li><img src="./images/icons/qzone.png" alt=""></li>
						<li><img src="./images/icons/weibo.png" alt=""></li>
						<li><img src="./images/icons/weixin.png" alt=""></li>
						<li><img src="./images/icons/qq.png" alt=""></li>
					</ul>
				</div>
			</div>
			<div class="realcook swiper-slide">
				<div class="newsone">
					<img src="./images/news1.png" alt="" align="left" hspace="5" vspace="5">
					<h4>在非洲许多小孩因缺少食物……</h4>
					<p>原因：政局长期动荡，曾发生多次政变和兵变；粮食不能自给；交通不便，森林资源无从开发。</p>
					<p>中非共和国基本靠自给来满足粮食需求，但是还是有很多人要忍受营养不良和饥荒的折磨。这是因为那些富有的农场主往往会选择将自己的粮食卖往国外来换取金钱，而不愿意低价将粮食卖给本国的国民。</p>
				</div>
				<div class="newstwo">
					<img src="./images/news2.png" alt="" align="left" hspace="5" vspace="5">
					<h4>食物丰富的孩子</h4>
					<p>营养良好，一些微量的元素的到了补充，例如铁、钙等，促进骨骼的生长和身体的发育。</p>
					<p>有益于促进孩子大脑发育成长、改善大脑功能、增加孩子记忆力。事实上，大脑是一个非常饥饿的器官，也是第一个从食物中吸收营养的人体器官。</p>
				</div>
				<p>写实派唤起我们对食物的感恩，激活我们的脑力和记忆</p>
			</div>
		</div>
	</div>

	<div class="footer">
		<ul>
			<li id="home" ng-click="goStateName('index')">
				<div>
					<img src="./images/icons/home.png" alt="">
				</div>
				<h6>首页</h6>
			</li>
			<li id="eat">
				<div>
					<img src="./images/icons/eatactive.png" alt="">
				</div>
				<h6>吃货圈</h6>
			</li>
			<li id="insvideo" ng-click="goStateName('interestvideo')">
				<div>
					<img src="./images/icons/video.png" alt="">
				</div>
				<h6>趣视频</h6>
			</li>
			<li id="user" ng-click="goStateName('user')">
				<div>
					<img src="./images/icons/user.png" alt="">
				</div>
				<h6>我</h6>
			</li>
		</ul>
	</div>

	<script>
		var mySwiper = new Swiper ('.swiper-container', {
		    direction: 'horizontal',
		    loop: false, 
		    onTransitionEnd: function(){
		    	$($('.nav>ul>li')[mySwiper.realIndex]).addClass('active').siblings().removeClass();
		    	mySwiper.slideTo(mySwiper.realIndex, 500, false);
		    },

	  	});
	  	$('.nav>ul>li').click(function(){
			$(this).addClass('active').siblings().removeClass();
			for(var i=0;i<$('.nav>ul>li').length;i++){
				if(this === $('.nav>ul>li')[i]){
					mySwiper.slideTo(i, 500, false);
				}
			}
		});
	</script>
</div>
