
	<div class="creatcircle">
		<div class="creatcircle-header">
		    <span id="backuser" ng-click="goStateName('user')"><img src="./images/icons/login-arrow.png" alt=""></span>
			<span>创建圈圈</span>
			<span>+</span>
		</div>
		
		<div class="creatcircle-main">
			<div class="circlephotos">
				<div class="circlediv">
					<div><img src="./images/circle1.png" alt=""></div>
					<div><img src="./images/circle2.png" alt=""></div>
					<div><img src="./images/circle3.png" alt=""></div>
					<div><img src="./images/circle4.png" alt=""></div>
					<div><img src="./images/circle5.png" alt=""></div>
					<div><img src="./images/circle6.png" alt=""></div>
				</div>

				<div class="circle-form">
					<div><span>圈圈名称:</span><input type="text"></div>
					<div><span>所在地区:</span><input type="text"></div>
					<div><span>手机号码:</span><input type="text"></div>
					<span class="button">创建圈圈</span>
				</div>

			</div>
		</div>

		<div class="footer">
			<ul>
				<li id="home" ng-click="goStateName('index')">
					<div>
						<img src="./images/icons/home.png" alt="">
					</div>
					<h6>首页</h6>
				</li>
				<li id="eat" ng-click="goStateName('cookcircle')">
					<div>
						<img src="./images/icons/eat.png" alt="">
					</div>
					<h6>吃货圈</h6>
				</li>
				<li id="insvideo" ng-click="goStateName('interestvideo')">
					<div>
						<img src="./images/icons/video.png" alt="">
					</div>
					<h6>趣视频</h6>
				</li>
				<li id="user">
					<div>
						<img src="./images/icons/useractive.png" alt="">
					</div>
					<h6>我</h6>
				</li>
			</ul>
		</div>
	</div>
