
<div class="cookbook">
	<div class="cookbook-header">
	    <span id="backindex" ng-click="goStateName('index')"><img src="./images/icons/login-arrow.png" alt=""></span>
		<span>菜谱列表</span>
	</div>

	<div class="cookbook-main">
		<div class="search-cook">
			<div>
				<span><img src="./images/icons/index-search.png" alt=""></span>
				<input type="text" placeholder="搜索你喜欢的食物或食材">
			</div>
		</div>
		<ul>
			<li>
				<span><img src="./images/cookmune1.png" alt=""></span>
				<span>各地小吃</span>
				<span><img src="./images/icons/cookmune-icon.png" alt=""></span>
			</li>
			<li>
				<span><img src="./images/cookmune2.png" alt=""></span>
				<span>家常便菜</span>
				<span><img src="./images/icons/cookmune-icon.png" alt=""></span>
			</li>
			<li>
				<span><img src="./images/cookmune3.png" alt=""></span>
				<span>外国菜谱</span>
				<span><img src="./images/icons/cookmune-icon.png" alt=""></span>
			</li>
			<li>
				<span><img src="./images/cookmune4.png" alt=""></span>
				<span>川菜</span>
				<span><img src="./images/icons/cookmune-icon.png" alt=""></span>
			</li>
			<li>
				<span><img src="./images/cookmune5.png" alt=""></span>
				<span>凉拌</span>
				<span><img src="./images/icons/cookmune-icon.png" alt=""></span>
			</li>

		</ul>
	</div>
</div>
