
<div class="lovefoods">
	<div class="lovefoods-header">
	    <span id="backuser" ng-click="goStateName('user')"><img src="./images/icons/login-arrow.png" alt=""></span>
		<span>猜你喜欢的美食</span>
		<span>选择口味</span>
	</div>
	
	<div class="lovefoods-main">
		<div class="lovefoods-search">
			<div><img src="./images/icons/index-search.png" alt=""></div>
			<input type="text" placeholder="搜索你喜欢的实物">
		</div>
		<div class="lovefoodsban">
			<img src="./images/lovefoodsban.png" alt="">
		</div>
		<h4>你可能感兴趣的美食</h4>
		<ul>
			<li>
				<span><img src="./images/lovefoods1.png" alt=""></span>
				<span>
					<h4>香辣猪脚</h4>
					<p>主料：猪脚</p>
					<p>辅料：葱 蒜 姜 花椒 香叶 盐 八角 料酒 生抽 老抽 冰糖 红油豆瓣</p>
				</span>
				<span><img src="./images/icons/interest.png" alt=""></span>
			</li>
			<li>
				<span><img src="./images/lovefoods2.png" alt=""></span>
				<span>
					<h4>香菜小炒肉</h4>
					<p>主料：瘦肉</p>
					<p>辅料：坑椒，蒜，老姜</p>
				</span>
				<span><img src="./images/icons/interest.png" alt=""></span>
			</li>
			<li>
				<span><img src="./images/lovefoods3.png" alt=""></span>
				<span>
					<h4>香辣土豆丝</h4>
					<p>主料：土豆</p>
					<p>辅料：香菜，红辣椒干等</p>
				</span>
				<span><img src="./images/icons/interest.png" alt=""></span>
			</li>
			<li>
				<span><img src="./images/lovefoods4.png" alt=""></span>
				<span>
					<h4>韭菜炒鱿鱼</h4>
					<p>主料：鱿鱼</p>
					<p>辅料：韭菜，辣椒干</p>
				</span>
				<span><img src="./images/icons/interest.png" alt=""></span>
			</li>
		</ul>
	</div>
		
	<div class="footer">
		<ul>
			<li id="home" ng-click="goStateName('index')">
				<div>
					<img src="./images/icons/home.png" alt="">
				</div>
				<h6>首页</h6>
			</li>
			<li id="eat" ng-click="goStateName('cookcircle')">
				<div>
					<img src="./images/icons/eat.png" alt="">
				</div>
				<h6>吃货圈</h6>
			</li>
			<li id="insvideo" ng-click="goStateName('interestvideo')">
				<div>
					<img src="./images/icons/video.png" alt="">
				</div>
				<h6>趣视频</h6>
			</li>
			<li id="user">
				<div>
					<img src="./images/icons/useractive.png" alt="">
				</div>
				<h6>我</h6>
			</li>
		</ul>
	</div>
</div>
